.card-img-top {
    height: 200px;
    object-fit: cover;
}
.table-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

h6.card-subtitle{
    font-size: 0.89em;
}

.bg-body-tertiary {
    background-color: rgb(190 214 239)
}